<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936345192414-tm3i98ds6mum9aa8qvs6f0vg8jn52iq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936345192414-tm3i98ds6mum9aa8qvs6f0vg8jn52iq7</string>
	<key>API_KEY</key>
	<string>AIzaSyDY6UlHxpVsleC0MChS2bVQrXrm4WFr0xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>936345192414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dang-Phan.WeightTrackerMain</string>
	<key>PROJECT_ID</key>
	<string>wechart-d06fe</string>
	<key>STORAGE_BUCKET</key>
	<string>wechart-d06fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936345192414:ios:d9000b7c3759f899</string>
	<key>DATABASE_URL</key>
	<string>https://wechart-d06fe.firebaseio.com</string>
</dict>
</plist>